body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content{
    flex: 1;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

/* Navbar Style */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    font-size: 1.5rem;
    color: #fe424d;
}

.nav-link {
    color: #0e0e0e !important;
    font-weight: 500;
    margin-right: 15px;
}

/* Footer Style */
.f-info {
    background-color: #ebebeb;
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.f-info-links a {
    text-decoration: none;
    color:#0e0e0e;
    margin-left: 10px;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #fe424d;
    transition: 0.3s;
}

/* Styling for All Listing Page */
.card {
    border: none; 
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1rem !important;

}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.card-img-overlay:hover {
    opacity: 0.5;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Form Style for create new listing and Edit your listing */

.form-card {
    border-radius: 15px;
    background: #ffffff;
    padding: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* Input Styling */
.custom-input {
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Input Focus Effect */
.custom-input:focus {
    border-color: #fe424d !important;
    box-shadow: 0 0 8px rgba(252, 67, 79, 0.5) !important;
}

/* Button Base */
.add-btn {
    transition: all 0.3s ease;
    border-radius: 25px;
}

/* Hover Effect */
.add-btn:hover {
    background-color: #fe424d !important;
    border-color: #fe424d !important;
    color: white !important;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(254, 66, 77, 0.4);
}

/* Styling for Listing Details Page */

.show-image {
    height: 380px !important;
    object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease;
}
.show-image:hover {
    transform: scale(1.02);
}

/* For Guest Reviews */
.review-card {
    transition: all 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}


